/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



/*Reset JP*/
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
*, p, a {
	margin:0;
	padding:0;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
a {
	text-decoration:none;
	outline:none;
}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}
.no-column {
	padding-left:0;
	padding-right:0;
}
/*Fuentes*/
$em-1: 1em;
$em-2: 2em;
$em-3: 3em;
$em-4: 4em;

@mixin font-family { 
	font-family:"ff-basic-gothic-sc-web-pro";
}

h1, h2, h3, h4, h5, h6, p, button {
	font-family:"ff-basic-gothic-sc-web-pro";
}

//Paleta
$amarillo: #f6fea5;
$gris-claro: #727272;
$gris-oscuro: #5b5c5c;
//radio 
$radio: 18px;

header {
    padding: 36px;
    background: $gris-oscuro;
	text-align:center;

	.logo img{
		max-width:100%;
		min-width:100%;
		transition:all .5s ease;
	}
}
@media (max-width: 991px) {
	header .logo img {
		max-width:70%;
		min-width:70%;
	}
}
@media only screen and (max-device-width: 991px) {
	header .logo img {
		max-width:70%;
		min-width:70%;
	}
}

.productos-destacados {
	text-align:center;
	margin:50px 0;
	padding:25px 0;
	background:url(../img/bg-prod-dest-home.gif) no-repeat, url(../img/bg-prod-dest-home-2.gif) no-repeat;
	background-position:center top, center bottom;
	
	h1{
		font-size:$em-3 * 1.8;
		text-transform:uppercase;
		letter-spacing:.11em;
		display:block;
		margin:0 auto; 
		width:50%;
		text-align:center;
		
	}
	h1 span {
		font-weight:700;
		letter-spacing:.001em;
	}
}


@media (max-width: 640px) {
	.productos-destacados h1 {
		width:100%;
	}
}
@media only screen and (max-device-width: 640px) {
	.productos-destacados h1 {
		width:100%;
	}
}


/*Producto destacado*/
#prod-dest-1-home {
	background:url(../img/bg-prod-dest-home.gif) no-repeat center bottom;
	padding-bottom:33px;
	margin-bottom:10px;
	
	.ico-dest-1 {
		background:$gris-oscuro;
		margin-top:61px;
		padding:25px 10px 16px 0;
	}
	
	.nombre-prod {
		h1 {
			margin-top:69px;
		}
	}
	
	h1 {
		font-size:$em-3 * 1.4;
		line-height:.8em;
		text-transform:uppercase;
		font-weight:200;
	}
	
	.img-dest img{
		max-width:80%;
		min-width:80%;
		display:block;
		margin:0 auto;
	}
	.info-prod {
		margin-top:65px;
		font-weight:100;
	}
	.precio {
		h1 {
			margin:20px 0;
		}
	}
	
	
} //#prod-dest-1-home

#dest-2-3 {
	
	.dest-izq-1, .dest-der-2, .dest-izq-3, .dest-der-4 {
		margin-bottom:43px;
			
		.ico {
			background:$gris-claro;
			height:258px;
			position:relative;
			overflow:visible;
			
			img {
				display:block;
				margin:0 auto;
				height:auto;
				min-height:100%;
				max-height:220px;
				min-width:85%;
				max-width:85%;
			}
			.punta {
				display:block;
				width:28px;
				height:58px;
				
				position:absolute;
				top:40%;
				z-index:999;
			}
			.punta-izq {
				right:-28px;
				background:url(../img/punta.svg) center center no-repeat;
			}
			.punta-der {
				left:-28px;
				background:url(../img/punta-der.svg) center center no-repeat;
			}		
			
		}
		//ico
		
		.img {
			white-space: nowrap;
			text-align: center;
			
			img {
				max-width:90%;
				min-width:90%;
			}
		}
				
		//img
		
		.precio {
			height:258px;
			
			
			h1 {
				font-weight:200;
			} 
			p {
				font-weight:100;
			}
		}
		
	} 
	//.dest-izq
	
} 
//#dest-2-3


/*Transversales*/
/*table para centrar verticalmente*/
.table {
	display:table;
	width:100%;
	height:100%;
}
.table-cell {
	display:table-cell;
	vertical-align:middle;
}
/*boton*/
button.solicitar {
	background:$amarillo;
	padding:10px 20px;
	text-transform:uppercase;
	color:$gris-oscuro;
	border:none;
	border-radius:$radio;
	margin:20px 0;
	font-weight:600;
}



